.footer-container{
    background-color: #2B2B2B;
    color: #fff;
    width: 100%;
    .footer-content{
        width: 90%;
        margin: auto;
        padding: 40px 0px;
        display: flex;
        //align-items: center;
        justify-content: space-between;
    }
}