.admin-insert{
    display: flex;
    justify-content: center;
    align-items: center;
    .admin-insert-content{
        background-color: bisque;
        width: 500px;
        padding: 10px;
        form{
            .insert-field{
                display: flex;
                flex-direction: column;
                textarea,
                input{
                    border: none;
                    outline: none;
                    padding: 5px;
                    border-radius: 5px;
                    &:focus{
                        border: 1px solid rgb(0, 225, 255);
                    }
                }
            
            }
            button{
                border: none;
                padding: 10px;
                background-color: rgb(31, 99, 202);
                color: white;
                border-radius: 5px;
            }
        }
    }
}